/.DS_Store
/1DZ_Dudkina_PM-21.pdf
/8470c124d9zadanie_2.pdf
/ChMDSU_PZ3_2.docx
/ChMSDU_Budnik_Samsonov_PM-01_PZ_3.docx
/ChMSDU_Budnik_Samsonov_Permyakov_PM-01_PZ_2.docx
/ChMSDU_PZ1_2.docx
/ChMSDU_PZ2_2.docx
/Lab1_PM-21.docx
/Lab1_PM-21.pdf
/Lab2_PM-21.docx
/Lab2_PM-21.pdf
/lab1
/lab1.cpp
/lab2.cpp
/lab3
/~$MDSU_PZ3_2.docx
/~$MSDU_Budnik_Samsonov_PM-01_PZ_3.docx
/Задание_3.pdf
/Лекция_1.pdf
/Лекция_3.pdf
/ЧМДСООДУ2019.pdf
/лаба1